div.Header {
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
div.Header div {
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 64px;
    color: #fff;
    font-size: 14px;
  }